<!DOCTYPE html>
<html x-data="appData()">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/dist/tailwind.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
</head>

<body class="bg-white flex flex-col min-h-screen" id="body"  :style="{ backgroundColor: bodyBackgroundColor }">
  {{template "_header" . }}
  <!-- Main Content -->
  <main class="dark:bg-slate-900 flex-1 flex items-start md:items-center px-2 md:px-4 py-4">
    <div class="grid grid-cols-1 md:grid-cols-8 w-full">
      <!-- Login Column -->
      <div class="md:col-start-2 md:col-end-8 2lg:col-start-3 2lg:col-end-7  p-8 rounded-lg bg-white flex flex-col">
        <h2 class="text-2xl md:text-3xl font-semibold text-slate-800 leading-8 md:leading-10">Welcome to Lauris RausZeit
        </h2>
        <span class="text-sm text-gray-500 mt-4">
          Please enter your email and password. For more information
          <a href="#" class="underline text-flamingo-400 hover:text-flamingo-500">click here</a>.
        </span>
        <form @submit.prevent="loginopen = !loginopen">
          <div class="form-group my-6">
            <div class="relative">
              <input type="email"
                class="pt-6 text-lg form-control block w-full px-3 py-1.5 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-230 shadow-sm rounded-xs transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-cyan-600 focus:outline-none"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
              <label for="exampleInputEmail1" class="absolute top-2 px-3 text-xs text-gray-600">Email address</label>
            </div>
            <small id="emailHelp" class="block mt-1 px-1 text-xs text-gray-400">We'll never share your email with anyone
              else.</small>
          </div>
          <div class="form-group mb-6">
            <div class="relative">
              <input type="password" class="pt-6 text-lg form-control block w-full px-3 py-1.5 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-230 shadow-sm rounded-xs transition
              ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-cyan-600 focus:outline-none"
                id="exampleInputPassword1" placeholder="Password">
              <label for="exampleInputPassword1" class="absolute top-2 px-3 text-xs text-gray-600">Password</label>
            </div>
          </div>
          <div class="form-group form-check mb-6">
            <input type="checkbox"
              class="form-check-input h-4 w-4 border accent-flamingo-500 focus:accent-flamingo-500 active:accent-flamingo-500 border-gray-100 rounded-sm bg-white checked:bg-cyan-600 checked:border-cyan-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
              id="exampleCheck1" />
            <label class="form-check-label inline-block text-gray-600 text-sm cursor-pointer"
              for="exampleCheck1">Remember me</label>
          </div>
          <button type="submit" id="animatePulse" :class="loginopen ? 'animate-pulse' : ''"
            class="w-full px-6 py-4 bg-flamingo-500 text-white font-medium text-sm leading-tight uppercase rounded shadow-md hover:bg-flamingo-400 hover:shadow-lg focus:bg-flamingo-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-flamingo-400 active:shadow-lg transition duration-150 ease-in-out">
            Sign in
          </button>
          <a href="#"
            class="text-flamingo-500 hover:text-flamingo-700 underline font-semibold text-sm inline-block pt-4">Forgot
            password?</a>
        </form>
      </div>
    </div>
  </main>

  <footer class="bg-white dark:bg-black transition-all relative">


    <div class="py-2 px-4 flex justify-between items-center">
      <nav class="-mx-4">
        <a class=" dark:hover:text-primary hover:text-primary font-medium px-4 font-medium text-gray-400 dark:text-gray-600 text-sm transition-all"
          href="/privacy/">Data &amp; privacy</a>
        <a class=" dark:hover:text-primary hover:text-primary font-medium px-4 font-medium text-gray-400 dark:text-gray-600 text-sm transition-all"
          href="/contact/">Contact</a>
        <a class=" dark:hover:text-primary hover:text-primary font-medium px-4 font-medium text-gray-400 dark:text-gray-600 text-sm transition-all"
          href="/contribute/">Contribute →</a>

      </nav>
      <p class="font-medium text-gray-400 text-sm dark:text-gray-600 mt-4 lg:mt-0">ratzfatzmats © 2022. All Rights
        reserved.</p>
    </div>

  </footer>

  {{template "_colorspalette"}}

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div x-show="loginopen" class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"
        @click="loginopen = false"></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
      <div
        class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
        <div>
          <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
            <!-- Heroicon name: outline/check -->

            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-600" viewBox="0 0 20 20"
              fill="currentColor">
              <path fill-rule="evenodd"
                d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-5">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Requesting sign in</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur amet
                labore.</p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-6">
          <button @click="loginopen = false" type="button"
            class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-sky-400 text-base font-medium text-white hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500 sm:text-sm">Go
            back to dashboard</button>
        </div>
      </div>
    </div>
  </div>

</body>

{{template "_scripts" }}
</html>